[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
[submodule "src/imgui"]
	path = src/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "src/vk-bootstrap"]
	path = src/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "src/sdl"]
	path = src/sdl
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "src/fmt"]
	path = src/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "src/glm"]
	path = src/glm
	url = git@github.com:g-truc/glm.git
[submodule "src/vma"]
	path = src/vma
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
